---
layout: default
title: Contact
---

			<!-- One -->
			<section id="social" class="banner style6 fullscreen orient-left content-align-right image-position-bottom onload-image-fade-in onload-content-fade-in">
				<div class="content">
					<h2>Stevo's Contact Info</h2>
					<p class="major">How to get in touch.</p>
					<ul class="icons">
						{% if site.admin_email %}
						<li><a href="mailto:{{ site.admin_email}}?subject=I think you're awesome!" class="icon style3 fas fa-envelope"><span class="label">Email</span></a></li>
						{% endif %}
						<li><a href="https://calendly.com/{{site.calendly}}" class="icon style3 fas fa-phone" target=_blank><span class="label">Phone</span></a></li>
						{% if site.signal_username %}
						<li><a href="#messaging" class="smooth-scroll icon style3 fab fa-signal-messenger"><span class="label">Signal</span></a></li>
						{% endif %}
					</ul>
					<div class="arrow"><a href="#expectations" class="smooth-scroll"><img width="15%" src="images/np_down-arrow_761740_000000.svg"></a></div>
				</div>
				<div class="image stevo">
					<img src="images/IMG_0230.jpg" alt="" />
				</div>
			</section>

<!-- Main Body -->

			<section class="wrapper style1 align-center" id="expectations">
				<div class="inner">
					<h2>Managing Expectations</h2>
					<p>Here's what is most likely to happen.</p>
					<div class="index align-left">

			<!-- Personal Email -->
			<section id="personal-email">
				<header>
					<h3><span class="icon style1 fas fa-envelope" style="padding-right:1em;"></span>Personal Email</h3>
				</header>
				<div class="content">

					<h4><code>{{ site.admin_email}}</code></h4>
					<p>I have push notifications set up on my personal email accounts. I respond to emails that are <a href="http://five.sentenc.es/" target=_blank>five sentences or less</a> as soon as I have a free moment. Anything longer, I bucket into a folder that is checked and responded to in the morning and afternoon.</p>
					<div class="box">
					<h5 style="text-transform:uppercase"><span class="icon style1 fas fa-lock" style="padding-right:1em;"></span>Encryption</h5>
					<p>Use my <a href="https://keybase.io/encrypt#{{site.keybase_username}}">public key</a>, email me from a <a href="https://protonmail.com" target=_blank>Proton Mail</a> account, or hit me on <a href="https://signal.org/" target=_blank>Signal</a>.</p>
				</div>
				</div>
			</section>

			<!-- Phone  -->

			<section id="phone">
				<header>
					<h3><span class="icon style1 fas fa-phone" style="padding-right:1em;"></span>Phone Calls</h3>
				</header>
				<div class="content">

					<a class="button style4 icon" href="https://calendly.com/{{site.calendly}}" target=_blank>Schedule a Phone Call</a>
					<p>If you want to talk about something that doesn't fit into a five-sentence email, feel free to schedule a phone call. I keep my calendar up-to-date, so all you have to do is pick a convenient time.</p>

				</div>
			</section>

			<!-- Messaging  -->

			<section id="messaging">
				<header>
					<h3><span class="icon style1 fab fa-signal-messenger" style="padding-right:1em;"></span>Messaging</h3>
				</header>
				<div class="content">
					<p>My <a href="https://signal.org/" target=_blank>Signal</a> username is <code>{{ site.signal_username}}</code> I do not check Facebook or Instagram messages from unknown senders. If you message me there, I will never know.</p>
				</div>
			</section>

				</div>


			</div>
		</section>
