---
layout: home
title: Steven M. Ledbetter
---

				<!-- One -->
					<section id="social" class="banner style6 fullscreen orient-center content-align-left image-position-bottom onload-image-fade-in onload-content-fade-in">
						<div class="content">
							<h1>Stevo</h1>
							<h3>Product Manager & Designer specializing in user engagement.</h3>
							<ul class="icons">
								{% if site.twitter_username %}
								<li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon style3 fab fa-twitter"><span class="label">Twitter</span></a></li>
								{% endif %}
								{% if site.facebook_URL %}
								<li><a href="{{ site.facebook_URL }}" class="icon style3 fab fa-facebook"><span class="label">Facebook</span></a></li>
								{% endif %}
								{% if site.instagram_username %}
								<li><a href="https://www.instagram.com/{{ site.instagram_username }}" class="icon style3 fab fa-instagram"><span class="label">Instagram</span></a></li>
								{% endif %}
								{% if site.dribbble_username %}
								<li><a href="#" class="icon style3 fab fa-dribbble"><span class="label">Dribbble</span></a></li>
								{% endif %}
								{% if site.goodreads_username %}
								<li><a href="https://goodreads.com/{{ site.goodreads_username }}" class="icon style3 fab fa-goodreads-g"><span class="label">Goodreads</span></a></li>
								{% endif %}
								{% if site.github_username %}
								<li><a href="https://github.com/{{ site.github_username }}" class="icon style3 fab fa-github"><span class="label">GitHub</span></a></li>
								{% endif %}
								{% if site.angellist_username %}
								<li><a href="https://angel.co/{{ site.github_username }}" class="icon style3 fab fa-angellist"><span class="label">GitHub</span></a></li>
								{% endif %}
								{% if site.medium_id %}
								<li><a href="https://medium.com/@{{ site.medium_id }}" class="icon style3 fab fa-medium"><span class="label">Medium</span></a></li>
								{% endif %}
								{% if site.500px_username %}
								<li><a href="#" class="icon style3 fab fa-500px"><span class="label">500px</span></a></li>
								{% endif %}
								{% if site.phone %}
								<li><a href="tel:{{site.phone}}" class="icon style3 far fa-phone"><span class="label">Phone</span></a></li>
								{% endif %}
								{% if site.email %}
								<li><a href="mailto:{{ site.email }}" class="icon style3 far fa-envelope"><span class="label">Email</span></a></li>
								{% endif %}
							</ul>
							<div class="arrow"><a href="#mission" class="smooth-scroll"><img width="15%" src="images/np_down-arrow_761740_000000.svg"></a></div>
						</div>
						<div class="image stevo">
							<img src="images/boom-stevo-min.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->

				<section id="mission" class="spotlight style5">
					<div class="content">
						<h4>Making stuff with</h4>
						<h2>Motivation Science</h2>
						<p class="major">Steven M. Ledbetter, aka <q>Stevo</q> or <q>Coach Stevo</q> is an expert in the science of human behavior change. He has built sucessful companies, products, and services that have helped thousands of people change their lives.</p>
						<div id="flask"><div class="flask-icon"><simple-svg data-icon="fa-flask" data-width="3.25rem"></simple-svg></div>
						<div class="bubble b0"></div>
						<div class="bubble b1"></div>
						<div class="bubble b2"></div>
						<div class="bubble b3"></div>
						<div class="bubble b4"></div>
						<div class="bubble b5"></div>
						<div class="bubble b6"></div>
						<div class="bubble b7"></div>
						<div class="bubble b8"></div>
						<div class="bubble b9"></div>
					</div>
					</div>
				</section>

				<!-- Three -->
					<section id="work" class="wrapper style1 align-center">
						<div class="inner">
							<h2>Stuff Stevo has made</h2>
							<div class="items style2 big onscroll-fade-in">
									<section>
									<span class="icon image major" style="display:inline-block;"><img src="images/circle-logo.png" width="20px" alt=""></span>
										<h3>Habitry</h3>
										<p>A consulting company using Practical Motivation Science to make more effective products.</p>
										<ul class="actions vertical">
												<li><a href="https://habitry.com" target=_blank class="button style4 icon">Visit the Company</a></li>
											</ul>
									</section>
									<section>
										<span class="icon style1 major fas fa-mobile-alt"></span>
										<h3>Habitry iOS</h3>
										<p>A cutting edge behavior change app for health coaches. Sold by Habitry from 2014-2016.</p>
										<ul class="actions vertical">
												<li><a href="/projects/habitry_ios" class="button style4 icon">See the Design Process</a></li>
											</ul>
									</section>
								<section>
									<span class="icon style1 major fas fa-graduation-cap"></span>
									<h3>Habitry Professionals</h3>
									<p>The first evidence-based, behavior change education platform for health coaches. Sold by Habitry in 2016.</p>
									<ul class="actions vertical">
											<li><a href="/projects/habitry_pros" class="button style4 icon">See the Design Process</a></li>
										</ul>
								</section>
								<section>
									<span class="icon style1 major fas fa-fas fa-columns"></span>
									<h3><em>The Motivator</em></h3>
									<p>An annual research review of behavioral psychology.<br/>Sold by Habitry in 2017.</p>
									<ul class="actions vertical">
											<li><a href="/projects/motivator" class="button style4 icon">See the Design Process</a></li>
										</ul>
								</section>
								<section>
				          <span class="icon style1 major fas fa-book"></span>
				          <h3>We Make Communities</h3>
				          <p>A book for coaches who want to help the most people they can using Practical Motivation Science.</p>
				          <ul class="actions vertical">
				              <li><a href="http://habitry.com/learn#book" class="button style4 icon">Buy the Book</a></li>
				            </ul>
				        </section>
				      <section>
				        <span class="icon style1 major fas fa-microphone"></span>
				        <h3>The BetterCast</h3>
								<p>A podcast featuring real stories about people getting better at things.</p>
				        <ul class="actions vertical">
				            <li><a href="https://thebettercast.com" target=_blank class="button style4 icon">Hear the Podcast</a></li>
				          </ul>
				      </section>
						</a>
							</div>
						</div>
					</section>

					<!-- Writing -->
					<section class="wrapper style1 align-center" id="writing">
						<div class="inner medium">
							<h2>Stuff Stevo has written lately</h2>
									<div class="index align-center">
										<section>
											<div class="content">
												<ul class="alt linkroll">
													{% for post in site.posts limit:site.front-page-posts %}
												<li><a href="{{ post.link }}"><h4><span>{{ post.title }}</span><span class="small">{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</span></h4></a></li>
												{% endfor %}
												</ul>
											</div>
									</div>
						</div>
				</section>

				<!-- Four -->
				<section class="spotlight style5 content-align-center">
					<div class="content">
						<ul class="actions vertical">
							<li><a href="/contact" class="button style4 icon far fa-paper-plane">Contact Stevo</a></li>
						</ul>
					</div>
				</section>
