<footer class="wrapper style1 align-center">
  <div class="inner">
    {% include social_links.html %}
    <div itemscope itemtype="http://schema.org/Person">
  My name is <span itemprop="givenName">Steven</span> M. <span itemprop="familyName">Ledbetter</span><br>
  I'm a <span itemprop="hasOccupation">{{site.admin_title}}</span> at <span itemprop="worksFor"></span>{{site.admin_company}}</span></span> <br>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      I live in <span itemprop="addressLocality">{{site.admin_city}}</span>,
      <span itemprop="addressRegion">{{site.admin_state}}</span>
  </div>
</div>
  </div>
</footer>
